body {
  margin: 0;
  font-family: monospace;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: greenyellow;
}

code {
  font-family: monospace;
}
